<h1>Reverse</h1>

<p>Enter a string to see its reversed output.</p>

<form action="/reverse" method="post">
    <label for="user-input">String:</label>
    <input type="text" name="user-input">
    <input type="submit" value="Reverse" class="button-primary">
</form>